* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Open Sans", sans-serif;
}
body {
	background: #34a0a4;
}
header {
	width: 100%;
	height: 90px;
	background-color: #0b132b;
}
.interior {
	max-width: 100%;
	padding: 0 10px;
	margin: auto;
}
.logo {
	float: left;
	padding: 5px 20px 0;
}
.logo img {
	height: 80px;
}
.logo img:hover {
	transform: scale(1.1);
}
.navegacion {
	float: right;
	display: flex;
	align-items: center;
	min-height: 90px;
	z-index: 1000;
}
.navegacion ul {
	list-style: none;
	padding: 0 px;
}
.navegacion ul li {
	display: inline-block;
	position: relative;
	transition: 0.3s linear;
	z-index: 1000;
}
.navegacion ul li:hover {
	transform: scale(1.1);
}
.navegacion ul li a {
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
	padding: 12px 20px;
	transition: 0.3s linear;
}
.navegacion ul li a:hover {
	color: #00c9bd;
	transform: scale(1.1);
}
.navegacion ul li:hover .hijos {
	display: block;
}
.navegacion .submenu .hijos {
	display: none;
	background: #0b132b;
	position: absolute;
	width: 100%;
}
.navegacion .submenu .hijos li {
	display: block;
	overflow: hidden;
	border-bottom: none;
}
.navegacion .submenu .hijos li a {
	display: block;
}

.navegacion ul li:hover .hijoss {
	display: block;
}
.navegacion .submenu .hijoss {
	display: none;
	background: #0b132b;
	position: absolute;
	width: 100%;
}
.navegacion .submenu .hijoss li {
	display: block;
	overflow: hidden;
	border-bottom: none;
}
.navegacion .submenu .hijoss li a {
	display: block;
}







* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'open sans';
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */


nav {
    text-align: right;
    padding: 30px 50px 0 0;
}

nav>a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav>a:hover {
    text-decoration: underline;
}

header .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1 {
    font-size: 50px;
    color: #fff;
}

.textos-header h2 {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* About us */

main .sobre-nosotros {
    padding: 30px 0 60px 0;
}

.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us {
    width: 48%;
}

.sobre-nosotros .contenido-textos {
    width: 48%;
}

.contenido-textos h3 {
    margin-bottom: 15px;
}


.contenido-textos p {
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* Galeria */


.portafolio {
    background: #f2f2f2;
}

.galeria-port {
    /*display: flex;*/
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.imagen-port>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}




.hover-galeria img {
    width: 50px;
}

.hover-galeria p {
    color: #fff;
}

.imagen-port:hover .hover-galeria {
    transform: scale(1);
}
/*pagina wed*/

.paguinas-wed{
    color: #642a73;
    font-size: 30px;
    text-align: center;
}

/* Clients */

.cards {
    display: flex;
    justify-content: space-evenly;
}

.cards .card {
    background: #4d0686;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card>.contenido-texto-card {
    width: 60%;
    color: #fff;
}

.cards .card>.contenido-texto-card p {
    font-weight: 300;
    padding-top: 5px;
}

/*  Our team */

.about-services {
    background: #f2f2f2;
    padding-bottom: 30px;
}


.servicio-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind {
    width: 28%;
    text-align: center;
}

.servicio-ind img {
    width: 90%;
}

.servicio-ind h3 {
    margin: 10px 0;
}

.servicio-ind p {
    font-weight: 300;
    text-align: justify;
}

/* footer */

footer {
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo {
    text-align: center;
}

.content-foo h4 {
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p {
    color: #ccc;
}

.titulo-final {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}
.titulo-final2 {
    -ms-flex-item-align: center;
}

