* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Open Sans", sans-serif;
}
body {
	background: #34a0a4;
}
header {
	width: 100%;
	height: 90px;
	background-color: #0b132b;
}
.interior {
	max-width: 100%;
	padding: 0 10px;
	margin: auto;
}
.logo {
	float: left;
	padding: 5px 20px 0;
}
.logo img {
	height: 80px;
}
.logo img:hover {
	transform: scale(1.1);
}
.navegacion {
	float: right;
	display: flex;
	align-items: center;
	min-height: 90px;
	z-index: 1000;
}
.navegacion ul {
	list-style: none;
	padding: 0 px;
}
.navegacion ul li {
	display: inline-block;
	position: relative;
	transition: 0.3s linear;
	z-index: 1000;
}
.navegacion ul li:hover {
	transform: scale(1.1);
}
.navegacion ul li a {
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
	padding: 12px 20px;
	transition: 0.3s linear;
}
.navegacion ul li a:hover {
	color: #00c9bd;
	transform: scale(1.1);
}
.navegacion ul li:hover .hijos {
	display: block;
}
.navegacion .submenu .hijos {
	display: none;
	background: #0b132b;
	position: absolute;
	width: 100%;
}
.navegacion .submenu .hijos li {
	display: block;
	overflow: hidden;
	border-bottom: none;
}
.navegacion .submenu .hijos li a {
	display: block;
}

.navegacion ul li:hover .hijoss {
	display: block;
}
.navegacion .submenu .hijoss {
	display: none;
	background: #0b132b;
	position: absolute;
	width: 100%;
}
.navegacion .submenu .hijoss li {
	display: block;
	overflow: hidden;
	border-bottom: none;
}
.navegacion .submenu .hijoss li a {
	display: block;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/*Cards*/
.container-card{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #7a7a7a;
}
.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 210px;
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #7a7a7a;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: #2fb4cc;
	color: #fff;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}
/*Fin-Cards*/